---

---

<header>
    <nav class="w-full h-20 mt-10 flex justify-center ">
        <ul class="bg-secondary w-5/6 h-12 flex justify-evenly items-center backdrop-blur-lg rounded-3xl  ">
            <div class="flex grow justify-center">
                <li><a href="#">Inicio</a></li>
            </div>
            <div class="flex grow justify-center">
                <li><img src="/Public/logo.svg" alt=""></li>
            </div>
            <div class="flex grow justify-center">
                <li><a href="#">Contacto</a></li>
            </div>
        </ul>
    </nav>
</header>

