---

---

<header>
    <nav class="w-full h-20 ">
        <ul class="bg-primary w-full flex justify-evenly items-center">
            <li><a href="#">Inicio</a></li>
            <li><img src="/Public/logo.svg" alt=""></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>

